.square {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    width: 150px;
    height: 150px;
    border-color: rgb(231, 231, 231);
    background: transparent;
}

@media (max-width:455px) {
    .square {
        width: 100px;
        height: 100px;
        font-size: 70px;
    }
}
