.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgb(25,31,82);
  background: 
  linear-gradient(50deg, rgba(25,31,82,0.8) 0%, rgba(38,102,100,0.8) 50%, rgba(40,176,142,1) 100%),
  url("../images/kitty-png.png") no-repeat center left;  
  background-size: 800px cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 455px) {
  .App {
    background: rgb(25,31,82);
    background: 
    linear-gradient(50deg, rgba(25,31,82,0.8) 0%, rgba(38,102,100,0.8) 50%, rgba(40,176,142,1) 100%),
    url("../images/kitty-png.png") no-repeat bottom left;  
    background-size: contain;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
